* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.app {
  max-height: 100vh;
}

.search {
  background-image: url('./images/pattern-bg.png');
  background-size: cover;
}

.searchContainer {
  text-align: center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  font-size: 18px;
  color: white;
  padding: 10px 15px;
  border-color: transparent;
}

.textbox {
  font-size: 18px;
  padding: 12.5px 10px;
  border-color: transparent;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 60%;
  font-family: 'Rubik', sans-serif;
}

.btn {
  background-color: black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.btn:hover {
  background-color:#555555; 
}

.searchTitle {
  font-size: 2rem;
  color: white;
  padding: 20px 0;
}

@media screen and (max-width: 1080px) {
  .textbox {
    font-size: 14px;
  }

  .btn {
    font-size: 14px;
  }
}